@charset "UTF-8";
/* -- le directory base/ contient les fichiers qui définissent les fondations de votre site,
 par exemple la police de caractères et les normes que vous voulez appliquer sur tout votre site, 
 telles que le box-sizing -- */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

/* -- -- -- -- Wrapper -- -- -- -- */
/* -- components/ est utilisé pour ranger les blocs BEM qui sont plus indépendants, comme les boutons -- */
.btn-purple {
  display: flex;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 35px auto 60px;
  padding-left: 20px;
  padding-right: 20px;
  height: 47px;
  color: #fff;
  cursor: pointer;
}

/* -- layouts/ est le dossier où vous mettez vos blocs BEM qui contiennent ce qui est réutilisable, 
par exemple un header pour les mises en page de grande taille ou un footer -- */
/* -- -- -- -- Grid Restaurants -- -- -- -- */
.restos h2 {
  grid-area: title;
}

#cardR1 {
  grid-area: cardR1;
}

#cardR2 {
  grid-area: cardR2;
}

#cardR3 {
  grid-area: cardR3;
}

#cardR4 {
  grid-area: cardR4;
}

.restos {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "cardR1" "cardR2" "cardR3" "cardR4";
  background-color: #f7f7f7;
}

/* -- layouts/ est le dossier où vous mettez vos blocs BEM qui contiennent ce qui est réutilisable, 
par exemple un header pour les mises en page de grande taille ou un footer -- */
/* -- -- -- -- Footer -- -- -- -- */
.footer {
  background-color: #3b3b3b;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 35px;
}

.footer__title {
  font-family: "Shrikhand", cursive;
  color: #fff;
  margin-bottom: 16px;
}

.footer__list {
  margin-top: 7px;
}

.footer__link {
  color: #fff;
}

.footer .fa-utensils {
  font-size: 0.8em;
  margin-right: 13px;
}

.footer .fa-hands-helping {
  font-size: 0.6em;
  margin-right: 11px;
}

/* -- pages/ contient les blocs de code qui ne s’appliquent qu’à une seule page. 
Vous utilisez des boutons dans tout votre site, en revanche votre page d’accueil 
comporte une section Citation et une grille de projets qui ne sont employés nulle part ailleurs. 
En d’autres termes, pages/ contient des règles spécifiques à une seule page qui ne seront pas réutilisées ailleurs -- */
/* -- -- -- -- Header -- -- -- -- */
/* -- -- -- -- Logo -- -- -- -- */
.ohmyfood {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
  padding-top: 25px;
}
.ohmyfood__logo {
  width: 168px;
}

/* -- -- -- -- Location -- -- -- -- */
.location {
  display: flex;
  justify-content: center;
  padding: 15px 35px 15px 0;
  background-color: #ededed;
}

.location i {
  font-size: 1.1em;
  margin-top: 2px;
  margin-right: 17px;
}

.intro__searchText {
  font-weight: bold;
}

/* -- -- -- -- Titles -- -- -- -- */
.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f7f7f7;
}
.intro__title {
  font-size: 1.6em;
  padding: 35px 35px 12px;
}

.intro__subtitle {
  font-size: 1.1em;
  padding: 0 27px 0;
  font-weight: normal;
}

/* -- -- -- -- Main -- -- -- -- */
/* -- -- -- -- Fonctionnement -- -- -- -- */
.fonction h2 {
  font-size: 1.5em;
  margin-top: 48px;
  margin-left: 18px;
  margin-bottom: 28px;
}

.fonction ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 28px;
  padding-right: 18px;
}
.fonction ol li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 25px;
  box-shadow: 1px 2px 8px #cccccc;
  margin: 0 0 28px;
  height: 70px;
  width: 100%;
  max-width: 340px;
  position: relative;
}
.fonction ol li:hover {
  cursor: pointer;
  background: rgba(147, 86, 220, 0.1);
}
.fonction ol li:hover i {
  color: #9356DC;
  position: absolute;
  left: 30px;
}

.fonction__number {
  color: #fff;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 23px;
  font-size: 0.8em;
  border-radius: 20px;
  position: absolute;
  left: -12px;
}

.fonction__text {
  font-weight: bold;
  position: relative;
}

.fonction i {
  color: #878787;
  position: absolute;
  left: 30px;
}

.fa-mobile-alt {
  font-size: 1.2em;
}

.fa-list-ul {
  font-size: 1.1em;
}

.fa-store {
  font-size: 1em;
}

/* -- -- -- -- Restaurants -- -- -- -- */
.restos {
  padding: 50px 20px 65px;
  margin-top: 33px;
}

.restos h2 {
  font-size: 1.6em;
}

.restos a {
  text-decoration: none;
  color: #000;
}

.card {
  background-color: #FFFFFF;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  position: relative;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 175px;
  border-radius: 15px 15px 0 0;
}

.card__flex {
  height: 21%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12px;
  padding-left: 12px;
}
.card__info p {
  padding-top: 5px;
}

.card__icon-heart {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  padding-top: 10px;
}

.card__new {
  font-size: 13px;
  font-weight: bold;
  top: 14px;
  bottom: 50px;
  right: 11px;
  background-color: #99E2D0;
  color: #009973;
  margin-bottom: 158px;
  padding-top: 6px;
  padding-right: 11px;
  padding-left: 11px;
  position: absolute;
}

/* -- -- -- -- Header -- -- -- -- */
/* -- -- -- -- Logo -- -- -- -- */
header {
  display: flex;
}

.ohmyfood {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
  padding-top: 25px;
}
.ohmyfood__logo {
  width: 168px;
}

/* -- -- -- -- Main -- -- -- -- */
.welcome-img img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

/* -- -- -- -- Section -- -- -- -- */
/* -- -- -- -- Menu -- -- -- -- */
section {
  margin-top: -55px;
  background-color: #f2f2f2;
}

.page-title__name {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 35px 35px 0 0;
  background-color: #f2f2f2;
}

.page-title__name h1 {
  font-size: 1.7em;
  font-family: "Shrikhand", cursive;
  padding-left: 20px;
}

.page-title__name i {
  font-size: 1.5em;
  padding-right: 35px;
}

.menu {
  padding: 0 13px;
}

.menu__content {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  background-color: #fff;
  border-radius: 15px;
  height: 68px;
  cursor: pointer;
}

.menu__description {
  padding-top: 13px;
  padding-left: 10px;
}

.menu__description h3 {
  font-size: 1.1em;
}

.menu__description p {
  font-size: 0.9em;
  padding-top: 2px;
}

.menu__price {
  display: flex;
  align-self: flex-end;
  font-weight: bold;
  padding-right: 23px;
  padding-bottom: 13px;
}

/*# sourceMappingURL=style.css.map */
