/* -- pages/ contient les blocs de code qui ne s’appliquent qu’à une seule page. 
Vous utilisez des boutons dans tout votre site, en revanche votre page d’accueil 
comporte une section Citation et une grille de projets qui ne sont employés nulle part ailleurs. 
En d’autres termes, pages/ contient des règles spécifiques à une seule page qui ne seront pas réutilisées ailleurs -- */

/* -- -- -- Header -- -- -- */

/* -- Logo -- */

.ohmyfood{
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-top: 25px;
        &__logo{
            width: 168px;
            /*max-width: 45%;*/
        }
    }

/* -- Location -- */

.location{
    display: flex;
    justify-content: center;
    padding: 15px 50px 15px 50px;
    background-color: #ededed;
        &__icon-map{
            font-size: 0.8em;
            background-color: chocolate;
        &__searchText{
        }
    }
}

/* -- Titles -- */

.intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f7f7f7;
        &__title{
            font-size: 1.6em;
            padding: 35px 35px 12px;
        }
    }

.subtitle{
            font-size: 1.1em;
            padding: 0 27px 0;
            font-weight: normal;
}

.explore{
    display: flex;
    align-items: center;
    margin: 35px auto 60px;
    border-radius: 25px;
    background: linear-gradient(45deg, $color-secondary, $color-primary);
    padding-left: 20px;
    padding-right: 20px;
    height: 47px;
    cursor: pointer;
        & span{
            color: #fff;
        }
    }