/* -- -- -- -- Header -- -- -- -- */

/* -- -- -- -- Logo -- -- -- -- */

.ohmyfood{
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-top: 25px;
        &__logo{
            width: 168px;
        }
    }

/* -- -- -- -- Location -- -- -- -- */

.search{
    display: flex;
    justify-content: center;
    padding: 15px 35px 15px 0;
    background-color: #ededed;
        &__iconMap{
            font-size: 1.1em;
            margin-top: 2px;
            margin-right: 17px;
        }
        &__textSearch{
            font-weight: normal;
        }
    }

/* -- -- -- -- Titles -- -- -- -- */

.intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color-background;
        &__title{
            font-size: 1.6em;
            padding: 35px 35px 12px;
        }
        &__subtitle{
            font-size: 1.1em;
            padding: 0 27px 0;
            font-weight: normal;
        }
    }

/* -- -- -- -- Main -- -- -- -- */

main{
    background-color: $color-background;
}

/* -- -- -- -- Fonctionnement -- -- -- -- */

.fonction{
    padding-bottom: 93px;
    background-color: #fff;
        & h2{
            font-size: 1.5em;
            padding-top: 48px;
            padding-left: 18px;
            padding-bottom: 28px;
        }
    }

.fonction ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 28px;
    padding-right: 18px;
    gap: 28px;
        & li{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-background;
            border-radius: 25px;
            box-shadow: 1px 2px 8px #cccccc;
            height: 70px;
            width: 100%;
            max-width: 340px;
            position: relative;
                &:hover{
                    cursor: pointer;
                    background:rgba(147, 86, 220, 0.1);
                        i{
                            color: $color-primary;
                            position: absolute;
                            left: 35px;
                        }
                    }
                }
            }

.fonction__number{
    color: #fff;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    width: 23px;
    font-size: 0.8em;
    border-radius: 20px;
    position: absolute;
    left: -12px;
}

.fonction__text{
    font-weight: bold;
    position: relative;
}

.fonction i{
    color: #878787;
    position: absolute;
    left: 35px;
}

.fonction__iconMobile{
    font-size: 1.2em;
}

.fonction__iconList{
    font-size: 1.1em;
}

.fonction__iconStore{
    font-size: 1em;
}

/* -- -- -- -- Grid Restaurants -- -- -- -- */

.restaurants__title{grid-area: title;}
#cardR1{grid-area: cardR1;}
#cardR2{grid-area: cardR2;}
#cardR3{grid-area: cardR3;}
#cardR4{grid-area: cardR4;}

.restaurants{
  display: grid;
  grid-gap: 18px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "cardR1"
    "cardR2"
    "cardR3"
    "cardR4";

  background-color: $color-background;
}

/* -- -- -- -- Restaurants -- -- -- -- */

.restaurants{
    padding: 50px 20px 65px;
        &__title{
            font-size: 1.6em;
        }
    }

.card{
    background-color: #FFF;
    box-shadow: 1px 2px 8px #cccccc;
    width: 100%;
    height: 250px;
    border-radius: 15px;
    position: relative;
        &__link{
            text-decoration: none;
            color: #000;
        }
        &__img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-height: 175px;
            border-radius: 15px 15px 0 0;
        }
        &__flex{
            height: 21%;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        &__info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 12px;
            padding-left: 12px;
        }
        &__title{
            font-size: 1.1em;
            padding-bottom: 5px;
        }
        &__icon-heart{
            display: flex;
            justify-content: flex-end;
            padding-top: 20px;
            padding-right: 25px;
            width: 22%;
            font-size: 1.4em;
            font-weight: lighter;
            cursor: pointer;
            -webkit-text-stroke-width: 1px;
            -webkit-text-fill-color: transparent;
            transition-duration: 300ms;
            transform: scale(1);
            &:hover{
                background: -webkit-linear-gradient($color-secondary, $color-primary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 0;
                transition-duration: 300ms;
                transform: scale(1.1);
            }
        }
    }

.card__new{
    font-size: 13px;
    font-weight: bold;
    top: 14px;
    right: 11px;
    bottom: 50px;
    background-color: $color-tertiary;
    @include text-new;
    margin-bottom: 158px;
    padding-top: 6px;
    padding-right: 11px;
    padding-left: 11px;
    position: absolute;
}