.footer{
    background-color: #3b3b3b;
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 25px;
        &__title{
        font-family: 'Shrikhand', cursive;
        color: #fff;
        margin-bottom: 16px;
        }
        &__list{
            padding-top: 7px;
        }
        &__link{
            color: #fff;
        }
        &__iconUtensils{
            font-size: 0.8em;
            padding-right: 13px;
        }
        &__iconHands{
            font-size: 0.6em;
            padding-right: 11px;
        }
    }