/* -- -- -- -- Grid Restaurants -- -- -- -- */

.restos h2{grid-area: title;}
#cardR1{grid-area: cardR1;}
#cardR2{grid-area: cardR2;}
#cardR3{grid-area: cardR3;}
#cardR4{grid-area: cardR4;}

.restos{
  display: grid;
  grid-gap: 18px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "cardR1"
    "cardR2"
    "cardR3"
    "cardR4";

  background-color: #f7f7f7;
}