/* -- Header, logo, menu pages -- */
.ohmyfood{
    @include flex-center;
    padding-top: 25px;
    padding-bottom: 12px;
    position: relative;
        &__logo{
            width: 168px;
        }
        & i{
            @include flex-center;
            font-size: 1.2em;
            color: #000;
            position: absolute;
            bottom: 20px;
            left: 25px;
        }
    }