/*.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.loader::after {
    content: "";
    width: 150px;
    height: 150px;
    border: 10px solid transparent;
    border-radius: 50%;
    animation: loading 2s ease-in-out infinite alternate,
    color 2s ease-in-out infinite alternate;
}

@keyframes loading {
    0%{
        transform: rotate(-40deg);
    }
    100%{
        transform: rotate(760deg);
    }
}

@keyframes color{
    100%, 0% {
        border-top-color: $color-primary;
    }
    25% {
        border-top-color: $color-secondary;
    }
    50% {
        border-top-color: $color-tertiary;
    }
    75% {
        border-top-color: $color-secondary;
    }
}*/