/* -- Media queries Grid restaurants -- */
@media all and (max-width: 720px){
    .section-restaurants .restaurants{
        display: grid;
        grid-gap: 18px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "cardR1"
            "cardR2"
            "cardR3"
            "cardR4";

        background-color: $color-background;
    }
}
@media all and (min-width: 721px) and (max-width: 1024px){
    .section-restaurants .restaurants{
        display: grid;
        grid-gap: 18px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title"
            "cardR1 cardR2"
            "cardR3 cardR4";
        
        background-color: $color-background;
    }
}
@media all and (min-width: 1025px) and (max-width: 1300px){
    .section-restaurants .restaurants{
        display: grid;
        grid-gap: 18px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title"
            "cardR1 cardR2"
            "cardR3 cardR4";
        
        background-color: $color-background;
    }
}
@media all and (min-width: 1301px){
    .section-restaurants .restaurants{
        display: grid;
        grid-gap: 18px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "title title title title"
            "cardR1 cardR2 cardR3 cardR4";
        
            background-color: $color-background;
            max-width: 1500px;
            margin: auto;
        }
    }
/* -- Media queries fonctionnement -- */
@media all and (min-width: 1025px) and (max-width: 1300px){
    .fonction{
        max-width: 1024px;
        margin: auto;
    }
    .fonction h2{
        display: flex;
        justify-content: center;
    }
}

@media all and (min-width: 1301px){
    .fonction{
        max-width: 1300px;
        margin: auto;
    }
    .fonction h2{
        display: flex;
        justify-content: center;
    }
}
/* -- Media queries Title and menu list -- */
@media all and (min-width: 1230px){
    .page-title{
        max-width: 1230px;
        margin: auto;
    }
    .menu{
        display: flex;
        justify-content: center;
        gap: 30px;
        }
    
    }
/* -- Media queries Footer -- */
@media all and (min-width: 721px){
    .footer{
        height: 200px;
    }
    .footer__title{
        display: flex;
        justify-content: center;
        font-size: 2em;
        padding-right: 25px;
        padding-bottom: 25px;
    }
    .footer ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1300px;
        margin: auto;
        padding-right: 25px;
    }
}